<% @items.each do |item| %>
    <div class="item-card">
      <%= link_to item_path(item), class: 'inventory-card-link' do %>
        <div class="link-wrapper">
          <div class="item-img">
          </div>
          <div class="item-desc">
            <div class="item-info">
              <h2><%= item.name %></h2>
              <ul>
                <li>SKU: <%= item.barcode %></li>
                <li>Barcode: <%= item.barcode %></li>
                <li>Location: B-05-D</li>
                <li>Stock: </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <div class="create-link">
        <%= link_to "Add quantity", new_item_item_amount_path(item) %>
      </div>
    </div>
<% end %>
