<div class="month-card">
  <p class="card-title"><%= Time.now.strftime("%B %Y") %></p>
  <div class="card-info">
    <p>
      <%= monthly_items[:items].count %>
      <%= 'product'.pluralize(monthly_items[:items].count) %>
    </p>
    <p>for a total of:</p>
    <p class="card-items">
      <%= monthly_items[:total_items] %>
      <%= 'items'.pluralize(monthly_items[:total_items]) %>
    </p>
    <a href="#">See products</a>
  </div>
</div>
