<div class="navbar">
  <div class="nav_logo"></div>
  <ul class="nav_links">
    <li>
      <div class="search-bar">
        <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'search-form' } do |f| %>
          <%= f.input :name,
                      input_html: {value: "", class: "search-input"},
                      label: false,
                      placeholder: "Search items" %>   
          <%= f.submit "", class: "search-submit" %>
        <% end %>
      </div>
    </li>
    <li>
      <%= link_to "Account", root_path, class: "nav-link" %>
    </li>
    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
</div>
