<div class="container">
  <div class="logo_container">
    <div class="logo"></div>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  label: false,
                  autofocus: true,
                  placeholder: "Your email address here",
                  input_html: { class: "form_input", id: "email_input" } %>
      <%= f.input :password,
                  label: false,
                  required: false,
                  placeholder: "Your password here",
                  input_html: { class: "form_input" } %>
      <%= f.input :remember_me, id: "remember", as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "login-signup" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
