
<div class="inventory-bg"> 
  <div class="upcoming-cards">
    <h2>Upcoming expiring products:</h2>
    <div class="months">
      <%= render 'components/monthly_card', monthly_items: @current_month_items %>
      <%= render 'components/monthly_card', monthly_items: @next_month_items %>
      <%= render 'components/monthly_card', monthly_items: @next_next_month_items %>
    </div>
  </div>

  <div class="inventory">
    <div class="inv-dashboard">
      <div class="search-bar" id="inv-search">
          <%= form_tag items_path, method: :get, class: "search-form" do %>
            <%= text_field_tag :query,
                        params[:query],
                        class: "search-input",
                        placeholder: "Search the inventory" %>   
            <%= submit_tag "", class: "search-submit" %>
          <% end %>
        </div>
        <ul class="filters">
          <li id="filter-by">Filter by:</li>
          <li><%= link_to "Brand", items_path(:filter => 'brand') %></li>
          <li><%= link_to "Category", items_path(:filter => 'category') %></li>
          <li><%= link_to "Location", items_path(:filter => 'location') %></li>
        </ul>
    </div>
    <div class="inv-cards">
      <% @current_month_items[:items].each do |item| %>
        <%= render 'components/inventory_card', item: item %>
      <% end %>
    </div>
  </div>
</div>