<div class="inventory-bg"> 
  <div class="inventory">
    <div class="inv-dashboard">
      <div class="search-bar" id="inv-search">
          <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'search-form' } do |f| %>
            <%= f.input :name,
                        input_html: {value: "", class: "search-input"},
                        label: false,
                        placeholder: "Search the inventory" %>   
            <%= f.submit "", class: "search-submit" %>
          <% end %>
        </div>
        <ul class="filters">
          <li id="filter-by">Filter by:</li>
          <li>Exp. Date</li>
          <li>A-Z</li>
          <li>Last Updated</li>
        </ul>
    </div>
    <div class="inv-cards">
      <div class="item-card">
        <div class="item-img">
        </div>
        <div class="item-desc">
          <div class="item-info">
            <h2>Item Name</h2>
            <ul>
              <li>SKU:</li>
              <li>Barcode:</li>
              <li>Location:</li>
              <li>Stock:</li>
            </ul>
          </div>
          <div class="create-link">
            Add quantity
            <%# <%= link_to "Add quantity", new_item_item_amount_path(@item) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>The Inventory</h1>
  <ul>
    <% @items.each do |item| %>
      <li>Name: <%= link_to item.name, item_path(item) %></li>
    <% end %>
  </ul>
</div>
