<h1>Item details</h1>

<h3>Item name: <%= @item.name %></h3>
<p>Brand: <%= @item.brand %></p>
<p>SKU: <%= @item.barcode %></p>
<p>In Stock: </p>

<h3>Amounts</h3>
<% if @item.item_amounts.nil? %>
  <p>You have 0 items in stock!</p>
<% else %>
  <ol>
    <% @item.item_amounts.each do |item_amount| %>
      <li>
        <p>Quantity: <%= item_amount.amount %></p>
        <p>Expiry date: <%= item_amount.exp_date %></p>
        <p>Purchased by:</p>
      </li>
    <% end %></li>
  </ol>
<% end %>



<h3>Actions:</h3>
<p>Add quantity</p>
<p><%= link_to "Edit item info", edit_item_path %></p>
<p><%= link_to "Delete item",
            item_path(@item),
            method: :delete,
            data: { confirm: "Are you sure?" } 
%></p>

<p><%= link_to 'Home', root_path %></p>