<div class="item-page">
  <div class="item-info">
    <div class="item-img">
    </div>

    <div class="item-info">
      <h1>Item name: <%= @item.name %></h1>
      <p>Brand: <%= @item.brand %></p>
      <p>SKU: <%= @item.barcode %></p>
      <p>In Stock: <%= @total_amount %></p>
    </div>

    <div class="item-links">
    </div>
  </div>


  <div class="item-stock"></div>
  <div class="item-logs"></div>
  <div class="item-insights"></div>
</div>

<h3>Amounts</h3>
<% if @item.item_amounts.empty? %>
  <p>You have 0 items in stock</p>
<% else %>
  <ol>
    <% @item.item_amounts.each do |item_amount| %>
      <li>
        <p>Quantity: <%= item_amount.amount %></p>
        <p>Expiry date: <%= item_amount.exp_date %></p>
        <p>Purchased by:</p>
        <p>Date: <%= item_amount.created_at %></p>
        <p><%= link_to "Delete amount",
            item_amount_path(item_amount),
            method: :delete,
            data: { confirm: "Are you sure?" } 
        %></p>
      </li>
    <% end %></li>
  </ol>
<% end %>

<h3>Actions:</h3>
<p><%= link_to "Add amount", new_item_item_amount_path(@item) %></p>
<p><%= link_to "Edit item info", edit_item_path %></p>
<p><%= link_to "Delete item",
            item_path(@item),
            method: :delete,
            data: { confirm: "Are you sure?" } 
%></p>


<%# # TODO: implement sub-inventories depending on item's needs (i.e. orders & LBs)
# TO DO: have the total amount of an item display with graphic represaentation (to be able to check amounts in-stock for orders, in-stock for LB, amount ordered, amount ordered & in-transit, etc..) %>