<div class="item-page">
  <div class="item-header section">
    <div class="item-header-img">
      <div class="header-img"></div>
      <p id="reload">Upload Image</p>
    </div>

    <div class="item-info">
      <h1><%= @item.name %></h1>
      <p>SKU: <span class="item-info-value"><%= @item.barcode %></span></p>
      <p>Barcode: <span class="item-info-value"><%= @item.secondary_barcode %></span></p>
      <p>Location: <span class="item-info-value"><%= @item.location %></span></p>
      <p>Brand: <span class="item-info-value"><%= @item.brand %></span></p>
      <p>Description: <span class="item-info-value"><%= @item.category %></span></p>
      <p>Retail: $<span class="item-info-value"><%= @item.retail %></span></p>
      <p>Tags:</p>
    </div>

    <div class="item-links">
      <p><%= link_to "Edit", edit_item_path %></p>
      <p><%= link_to "Delete",
            item_path(@item),
            method: :delete,
            id: "item-delete",
            data: { confirm: "Are you sure?" }
      %></p>
    </div>
  </div>


  <div class="item-stock section">
    <div class="item-stock-info">
      <h1>Stock</h1>
      <div class="stock-info">
        <div class="stock-info-column-headers">
          <h3><%= link_to "Date", item_path(@item, anchor: "reload") %></h3>
          <h3><%= link_to "Amount", item_path(@item, :option => 'amount', anchor: "reload") %></h3>
          <h3><%= link_to "Exp. Date", item_path(@item, :option => 'exp', anchor: "reload") %></h3>
          <h3><%= link_to "Remaining", item_path(@item, :option => 'remaining', anchor: "reload") %></h3>
        </div>

        <div class="stock-info-amounts">
          <%= render 'items/item_amounts_show' %>
        </div>
      </div>
    </div>
    <div class="item-stock-graph">
      <% if @item.item_amounts.empty? %>
        <div class="no-amounts">
          <p>Not enough data to build a chart!</p>
        </div>
      <% else %>
        <p><%= link_to "Add quantity", new_item_item_amount_path(@item) %></p>
        <div class="stock-graph">
          <canvas id="myChart"
                  width="200px"
                  height="100px"
                  data-labels="<%= @data_keys %>"
                  data-data="<%= @data_values %>" >
          </canvas>
        </div>
      <% end %>
    </div>
  </div>


  <div class="item-logs section">
    <div class="item-logs-info">
      <h1>Logs</h1>
      <div class="log-info">
        <div class="log-info-column-headers">
          <h3>Date</h3>
          <h3>User</h3>
          <h3>Action</h3>
        </div>

        <div class="logs">
          <%= render 'items/item_logs_show' %>
        </div>
      </div>
    </div>
  </div>


  <div class="item-insights"></div>
</div>
