<!DOCTYPE html>
<html>
  <head>
    <title>SugoiLabs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
      <%= render 'components/navbar' if user_signed_in? %>
      <%= render 'components/side_menu' if user_signed_in? %>
    
    <div class="application">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
    </div>
  </body>
</html>
